@import "tailwindcss";

body {
    font-family: 'Poppins', sans-serif;
}

.swiper-pagination-bullet {
    background: white !important;
    /* inactive dots */
    opacity: 0.6;
}

.swiper-pagination-bullet-active {
    background: white !important;
    /* active dot */
    opacity: 1;
}

/* Hide scrollbar for Chrome, Safari, Edge */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}